@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus-visible {
  outline-color: #22c55e;
}

.header-body-split-bg::before {
  content: " ";
  display: block;
  position: absolute;
  height: 10.75rem;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0f172a;
  z-index: 0;
}

.min-w-100 {
  min-width: 100%;
}

.landing-bg {
  background: rgb(16, 23, 43);
  background: linear-gradient(
    180deg,
    rgba(16, 23, 43, 1) 0%,
    rgba(16, 23, 43, 1) 70%,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 1) 100%
  );
}

.hero-gradient {
  background: rgb(22, 163, 74);
  background: radial-gradient(
    circle,
    rgba(22, 163, 74, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0.2;
  height: 38rem;
}
