@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus-visible {
  outline-color: #f472b6;
}

.header-body-split-bg::before {
  content: " ";
  display: block;
  position: absolute;
  height: 10.75rem;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #334155;
  z-index: 0;
}
